<form [formGroup]="postForm" (ngSubmit)="onSubmit()" action="" class="form-wrapper">

    <div class="form-header">
        @if (!post) {
        <h3>Create Post</h3>
        <p>Lets create a new article that is capable of transforming or making impact</p>
        }@else {
        <h3>Update Post</h3>
        <p>Lets update, its cool to refine and make old stuffs new again.</p>
        }
    </div>

    <div class="form-filed">
        <label for="title">Title</label>
        <input formControlName="title" id="title" placeholder="Type your title here ..." type="text" />
        <div class="error" *ngIf="title?.invalid && title?.touched">
            <p> <small *ngIf="title?.errors?.['required']">Title is required.</small></p>
            <p><small *ngIf="title?.errors?.['minlength']">Title must be at least 5 characters long.</small></p>
            <p> <small *ngIf="title?.errors?.['profaneWord']">🚫 Inappropriate language detected: </small></p>
        </div>
    </div>

    <div class="form-filed">
        <label for="body">Body</label>
        <textarea id="body" formControlName="body" cols="20"></textarea>
        <div class="error" *ngIf="body?.invalid && body?.touched">
            <p> <small *ngIf="body?.errors?.['required']">Body is required.</small></p>
            <p> <small *ngIf="body?.errors?.['minlength']">Body must be at least 20 characters long.</small></p>
            <p><small *ngIf="body?.errors?.['profaneWord']">🚫 Inappropriate language detected: </small></p>
        </div>
    </div>

    <div class="action-container">
        <button type="submit" class="publish">{{post ? "Update" : "Publish"}}</button>
        <button (click)="onGoback()" type="button">Go back</button>
    </div>
</form>