.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;

    .pagination {
        display: flex;
        align-items: center;
        gap: 1rem;

        .action {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            padding: 0.5rem;
            background-color: rgb(231, 231, 231);
            border-radius: 5px;

            svg {
                color: rgb(0, 0, 0);
                height: 1.2rem;
                width: 1.2rem;
                stroke-width: 2px;
            }
        }

        .page-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            height: 2.3rem;
            width: 2.3rem;
            font-size: 15px;
            background-color: rgb(231, 231, 231);
        }

        .active{
            background-color: rgb(0, 132, 255);
            color: white;
        }
    }

}